# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Environment variables
.env
# Large raw dataset
data/raw/onlinefraud.csv
# Large datasets
data/raw/
data/processed/